<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="True" />
  <param
    name="robot_description"
    textfile="$(find water_description)/urdf/water_description_xtion.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <!--node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" /-->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <!--node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find water_description)/urdf.rviz" /-->
  <!--node pkg = "tf" type = "static_transform_publisher" name = "base_footprint_to_base_link" args = "0 0 0.12 0 0 0 base_footprint base_link 50"/-->
</launch>
